.wrapper {
    height: 100vh;
    background-color: #0B0D17;
    background-image: url(../assets/images/crew/background-crew-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;


    @media only screen and (max-width: 1024px) {
        background-image: url(../assets/images/crew/background-crew-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media only screen and (max-width: 600px) {
        background-image: url(../assets/images/crew/background-crew-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}