.wrapper {
    min-height: 100vh;
    background-color: #0B0D17;
    background-image: url(../assets/images/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;


    @media only screen and (max-width: 1024px) {
        background-image: url(../assets/images/destination/background-destination-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media only screen and (max-width: 600px) {
        background-image: url(../assets/images/destination/background-destination-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}