.wrapper {
    min-height: 100vh;
    background-image: url(../assets/images/technology/background-technology-desktop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #0B0D17;


    @media only screen and (max-width: 1024px) {
        background-image: url(../assets/images/technology/background-technology-tablet.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }

    @media only screen and (max-width: 600px) {
        background-image: url(../assets/images/technology/background-technology-mobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
    }
}