.title {
    padding-top: calc(var(--span-2xl) + var(--span-xs));

    @media only screen and (min-width: 1800px) {
        padding-right: 15%;
        padding-left: 15%;
    }

    @media only screen and (max-width: 1140px) {
        padding-top: var(--span-l);
        padding-right: 0 !important;
        padding-left: 0 !important;
    }

    @media only screen and (max-width: 600px) {
        padding-top: var(--span-m);
    }

    &__heading {
        display: flex;
        gap: var(--span-m);
        font-family: "Barlow Condensed";
        font-size: calc(var(--size-l) + 4px);
        line-height: 34px;
        letter-spacing: 4.724999904632568px;
        text-align: left;
        text-transform: uppercase;

        @media only screen and (max-width: 1140px) {
            font-size: calc(var(--size-m) + 4px);
            line-height: 24px;
        }

        @media only screen and (max-width: 600px) {
            font-size: var(--size-m);
            line-height: 19px;
            letter-spacing: 2.7px;
            justify-content: center;
            gap: var(--span-xs);
        }

        &--light {
            color: var(--tw__transparent-white);
            font-weight: var(--weight-xlg);
        }

        &--bold {
            color: var(--white);
            font-weight: var(--weight-sm);
        }
    }
}