.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(var(--span-2xl) + 5px);

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
            @media only screen and (max-width: 600px) {
                width: 40px;
                height: 40px;
            }
        }
    }
}