.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: calc(var(--span-2xl) + 5px);

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}