.tab {
    display: none;
    grid-column: span 2;
    grid-template-columns: repeat(2, 1fr);

    &--active {
        display: grid;
    }


    &__image {
        display: block;
        width: 445px;
        height: 445px;
        padding-bottom: calc(2 * var(--span-xl));
        object-fit: contain;

        &-box {
            display: flex;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        padding-bottom: calc(2 * var(--span-xl));
    }

    &__details {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin-top: var(--span-l);
        font-family: "Bellefair";
        font-size: calc(2 * (var(--size-2xl) + 2px));
        font-weight: var(--weight-sm);
        line-height: 115px;
        letter-spacing: 0px;
        text-align: left;
        color: var(--white);
        text-transform: uppercase;
    }

    &__paragraph {
        font-family: "Barlow";
        font-size: calc(var(--size-m) + 2px);
        font-weight: var(--weight-sm);
        line-height: 32px;
        letter-spacing: 0px;
        text-align: left;
        color: var(--tw__blue);
        max-width: 90%;
        padding-right: var(--span-2xl);
    }
}

.switch {
    display: flex;

    &__list {
        display: flex;
        list-style-type: none;
        gap: calc(var(--span-m) + 5px);
    }

    &__item {
        display: block;
    }

    &__button {
        text-decoration: none;
        outline: none;
        background: transparent;
        border: none;
        cursor: pointer;
        padding-bottom: calc(var(--span-xs) + 2px);
        position: relative;
        font-family: "Barlow Condensed";
        font-size: var(--size-m);
        font-weight: var(--weight-sm);
        line-height: 19px;
        letter-spacing: 2.700000047683716px;
        text-align: left;
        color: var(--tw__blue);

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 3px;
            background: var(--white);
            transition: all 300ms;
            left: 0;
            bottom: 0;
            opacity: 0;
            mix-blend-mode: normal;
        }

        &:hover::after {
            opacity: 0.5;
        }

        &--active {
            color: var(--white);

            &::after {
                opacity: 1 !important;
            }
        }

        &--0,
        &--1,
        &--2,
        &--3,
        &--4 {
            color: var(--white);

            &::after {
                opacity: 1 !important;
            }
        }
    }
}