.destination {
    padding-top: calc(var(--span-2xl) + 5px);

    @media only screen and (min-width: 1800px) {
        padding-right: 15%;
        padding-left: 15%;
        height: calc(100vh - 270px);
        display: flex;
        align-items: center;
    }

    @media only screen and (max-width: 600px) {
        padding-top: var(--span-m);
        padding-bottom: var(--span-2xl);
    }
}